/node_modules
/public/hot
/public/storage
/public/uploads
/public/svg
/resources/views/smart_shop
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
/php-training
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
